
<nav class="menu">
  <a href="http://127.0.0.1:3000/" class="menu-item">
    <span class="material-icons md-24">home</span>
    <span class="menu-item-label">Home</span>
  </a>
  <a href="http://127.0.0.1:3000/meals" class="menu-item">
    <span class="material-icons md-24">menu_book</span>
    <span class="menu-item-label">Menu</span>
  </a>
  <a href="#" class="menu-item">
    <span class="material-icons md-24">shopping_cart_checkout</span>
    <span class="menu-item-label">Cart</span>
  </a>
</nav>
