
<nav class="menu">
  <a href="http://127.0.0.1:3000/" class="menu-item">
    <span class="material-icons md-24">home</span>
    <span class="menu-item-label">Acceuil</span>
  </a>
  <a href="#" class="menu-item">
    <span class="material-icons md-24">menu_book</span>
    <span class="menu-item-label">Carte</span>
  </a>
  <a href="#" class="menu-item">
    <span class="material-icons md-24">shopping_cart</span>
    <span class="menu-item-label">Panier</span>
  </a>
</nav>
