<div class="food-image" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1543353071-10c8ba85a904?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <%= render "shared/navbar_admin" %>
  <div class="easyfood-container">
    <h1>Welcome to&nbsp;<span class="orange"> EasyFood !</span></h1>
    <p>Click on the button below to start your order</p>
    <a href="/meals"><button class="bn632-hover bn19">Place Order</button></a>
  </div>
</div>
